.main-topNav{
    display: flex;
    justify-content: space-around;
    background-color: darkslategray;
    height: fit-content;
    padding: 10px;
}

.logo{
    width: 60px;
    height: auto;
}

.home-page{
    font-size: 30px;
    color: white;
}

.home-page:hover{
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.link-topNav{
    margin-top: 10px;
}

.link{
    color: white;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

.link:hover{
    color: white;
    font-size: 20px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
}